.content-list-users {
   min-height: calc(100vh - 50px);
   padding-top: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.wrapper-cards {
   max-width: 1000px;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}