footer {
   width: 100%;
   min-height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #184E77;
}

.container-footer {
   text-align: center;
}

.container-footer p {
   color: #fff;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
}

.container-footer p a {
   color: #45c9a3;
   text-decoration: none;
}

.container-footer p a:hover {
   color: #52B69A;
   text-decoration: underline;
}